.button-wrapper {
    width: 210.94px;
    height: 26.18px;
    padding: 5.98px;
    background: white;
    text-align: center;
    line-height: 14px;
}

.button-wrapper a {
    color: #0096DE;
    letter-spacing: 0em;
    text-decoration: none;
}

/* .button-wrapper a:hover {
    outline: auto;
} */

.icon {
    max-height: 13px;
    max-width: 13px;
    margin-right: 2.99px;
    /* vertical-align: middle; */
}

.button-wrapper span {
    font-size: 12px;
    font-weight: 400;
    vertical-align: bottom;
}

/* android */
.android-button-wrapper {
    border-radius: 2.99px;
    margin-top: 2.99px;
}

/* ios */
.ios-button-wrapper {
    border-top: 1px solid grey;
}

.ios-last-button {
    border-radius: 0 0 11px 11px;
}