.button-wrapper {
    width: 100%;
    background: white;
    text-align: center;
}

.button-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0em;
    text-decoration: none;
}

/* .button-wrapper a:hover {
    outline: auto;
} */

.icon {
    height: 13px;
    width: 13px;
}

.copycode {
    height: 14px;
    width: 14px;
}

.button-wrapper p {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
}

/* android */
.android-button-wrapper {
    height: 25.18px;
    border-radius: 2.99px;
    margin-top: 2.99px;
    padding: 5.98px;
}

.android-button-wrapper a {
    color: #0096DE;
}

.android-icon {
    margin-right: 3px;
}

/* ios */
.ios-button-wrapper {
    border-top: 1px solid #e8e8e9;
    padding: 9px;
    height: 32px;
}

.ios-button-wrapper a {
    color: #0178ff;
    line-height: 12px;
    font-size: 12px;
}

.ios-last-button {
    border-radius: 0 0 11px 11px;
}

.ios-icon {
    margin-right: 6px;
}