.footer {
    color: rgb(134, 150, 160);
    
}
.android-footer {
    font-size: 11px;
}

.ios-footer {
    font-size: 14px;
    line-height: 18px;
    /* font-size: calc(1vw - 2px);
    line-height: calc(1.25vw - 2px); */
}