.media {
    object-fit: contain;    
    max-width: 100%;
}

.text {
    font-weight: 700;
}

.android-text {

}

.ios-text {
    font-size: 16px;
    line-height: 20px;
    /* font-size: 1vw;
    line-height: 1.5vw; */
    margin-bottom: 20px;
}