.main-wrapper {
    padding: 2rem;
    /* background: black; */
}

.screen {
    width: 269.29px;
    /* height: 567px; */
    background: #E8E0D5;
    background: url("../images/iosPattern.svg");
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /* border: 1px solid red; */
}

.phone-body {
    display: inline-block;
    /* border: 1px solid red; */
    position: relative;
}