.main-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phonebody-wrapper {
    position: absolute;
    height: 100%;
}

.phonebody-wrapper img {
    height: 100%;
    width: 100%;
}

.body {
    /* position: absolute; */
    font-family: inherit;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    background-size: 100% 100%;
    height: calc(100% - 12px);
    transform-origin: top;
    transform: scale(0.8, 0.8);
    /* border: 1px solid red; */
    /* margin: 5%; */
}

.ios-preview-body {
    transform-origin: center;
    transform: scale(0.6);
    font-family: inherit;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    background-size: 100% 100%;
}

@media screen and (max-width:1024px) {
    .ios-preview-body {
        transform: scale(0.5, 0.5);
        transform-origin: center;
    }
}

@media screen and (max-width:768px) {
    .ios-preview-body {
        transform: scale(0.4, 0.4);
        transform-origin: center;
    }
}

.screen {
    /* width: 269.29px; */
    /* height: 567px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    /* margin: 50px; */
}

/* android */
.android-main-wrapper {
    font-family: 'Roboto';
}

.android-screen {
    background: #E8E0D5;
    border-radius: 8.98px;
}

.android-body {
    aspect-ratio: 0.475;
    width: 270px;
    height: 567px;
    background-image: url("../images/android/PhoneBody.png");
    padding: 30px 10px;
}
/* ios */
.ios-main-wrapper {
    font-family: 'San Fransisco';
}

.ios-screen {
    /* backface-visibility: hidden; */
    /* -webkit-font-smoothing: subpixel-antialiased; */
    /* width: 275px; */
    /* max-height: 596.2px; */
    background: url('../images/ios/MessageBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14.76%/6.45%;
}

.ios-body {
    aspect-ratio: 0.46;
    width: 393px;
    height: 853px;
    background-image: url("../images/ios/PhoneBody.svg");
    padding: 12px 14px;
}

@media screen and (max-width:1024px) {
    .body {
        transform: scale(0.6, 0.6);
        transform-origin: center;
    }
}
@media screen and (max-width:768px) {
    .body {
        transform: scale(0.4, 0.4);
        transform-origin: center;
    }
}