.message-container {
    display: flex;
}

.message-wrapper {
    max-width: 263.3px;
    margin-bottom: 8px; 
}

.message-content {
    max-width: 210.97px;
    background: white;
    padding: 5.98px;
    font-size: 12px;
    line-height: 14.03px; 
}

.bubblevector {
    color: white;
    max-width: 5.24px;
}

.bubblevector svg {
    vertical-align: top;
}

/* ANDROID */
.android-message-content {
    border-radius: 0 2.99px 2.99px 2.99px;
}

.android-bubblevector {
    align-self: flex-start;
}

/* ios */
.ios-message-content {
    border-radius: 11px 11px 0 0;
}

.ios-bubblevector {
    align-self: flex-end;
}

.ios-no-buttons {
    border-radius: 11px 11px 11px 11px;
}