.message-container {
    display: flex;
}

.message-wrapper {
    margin-bottom: 8px; 
}

.message-content {
    width: 100%;
    background: white;
}

.bubblevector {
    color: white;
    max-width: 5.24px;
}

.bubblevector svg {
    vertical-align: top;
}

/* ANDROID */
.android-message-content {
    border-radius: 0 2.99px 2.99px 2.99px;
    padding: 6px;
}

.android-bubblevector {
    align-self: flex-start;
}

.android-message-wrapper {
    max-width: 210px;
}

/* ios */
.ios-message-content {
    border-radius: 11px 11px 0 0;
    padding: 6px 12px;
}

.ios-bubblevector {
    align-self: flex-end;
}

.ios-no-buttons {
    border-radius: 11px 11px 11px 11px;
}

.ios-message-wrapper {
    max-width: 298px;
}