.screen-header {
    background: #F2F2F2;
}

.screen-header-time {
    display: flex;
    width: 269.29px;
    height: 30px;
    border-radius: 8.98px 8.98px 0 0;
    padding: 8px 11.97px 1.5px 11.97px;
    justify-content: space-between;
}

.screen-header-data {
    width: 269.29px;
    height: 47.87px;
    padding: 11.97px 8.98px 11.97px 8.98px;
    display: flex;
}

.arrowback, .call, .more {
    height: 65%;
}

.business-data {
    width: 179.52px;
    height: 23.94px;
    display: flex;
    align-items: center;
}

.arrowback {
    margin-right: 20px;
}

.call {
    margin-left: 2.99px;
    margin-right: 11.97px;
}

.arrowback, .business-data, .call, .more {
    align-self: center;
}

.business-logo {
    margin-right: 5.98px;
    height: 100%;
}

.business-name {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 2.99px;
    vertical-align: baseline;
}

.header-time {
    flex: 1;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: -0.41px;
    text-align: center;
    color: #171717;
    padding-top: 4px;
}

.header-time span {
    margin: auto;
    vertical-align: top;
    font-family: 'SF Pro Display';
}

.wifi {
    flex: 1;
    height: 80%;
}

.dynamicIsland {
    flex: 1;
    height: 110%;
    vertical-align: bottom;
}

.verified-logo {
    height: 13px;
    vertical-align: baseline;
}