.screen-input {
    display: flex;
    justify-content: space-between;;
    /* background: white; */
    /* border: 1px solid red; */
}

.message-img {
    border-radius: 26.93px;
    max-width: 222.91px;
    width: 80%;
}

.microphone-img {
    align-self: center;
    max-height: 31.98px;
    /* border: 1px solid red; */
}

/* android */
.android-screen-input {
    padding: 1.5px 2.99px 1.5px 2.99px;
    margin: 2px 0 10px 0;
}

/* ios */
.ios-screen-input {
    width: 100%;
    margin-top: 2px;
}

.ios-input {
    height: 100%;
    width: 100%;
}