.screen-input {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 2px 0 10px 0;
    /* background: white; */
    /* border: 1px solid red; */
    margin-bottom: 0;
}

.screen-input img {
    height: 100%;
    width: 100%;
}

.message-img {
    border-radius: 26.93px;
    width: 222.91px;
}

.microphone-img {
    align-self: center;
    height: 31.98px;
    /* border: 1px solid red; */
}