.main-wrapper {
    /* padding: 2rem; */
    /* background: black; */
    height: 100%;
}

.screen {
    max-width: 269.29px;
    width: 88%;
    max-height: 567px;
    background: #E8E0D5;
    border-radius: 8.98px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /* border: 1px solid red; */
}

.phone-body {
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    height: 80%;
}

.img-wrapper img {
    height: 100%;
}

.img-wrapper {
    height: 100%;
}