.message-container {
    display: flex;
}

.message-wrapper {
    width: 263.3px;
    margin-bottom: 8px; 
}

.message-content {
    width: 210.97px;
    background: white;
    padding: 5.98px;
    border-radius: 0 2.99px 2.99px 2.99px;
    font-size: 11.97px;
    line-height: 14.03px; 
}

.bubblevector {
    color: white;
    width: 5.24px;
}

.bubblevector svg {
    vertical-align: top;
}