.screen-input {
    max-width: 269.29px;
    height: 38.9px;
    padding: 1.5px 2.99px 1.5px 2.99px;
    display: flex;
    justify-content: space-between;
    margin: 2px 0 10px 0;
    /* background: white; */
    /* border: 1px solid red; */
}

.message-img {
    border-radius: 26.93px;
    max-width: 222.91px;
}

.microphone-img {
    align-self: center;
    height: 31.98px;
    /* border: 1px solid red; */
}