.previewpage-container {
    background: rgba(0, 0, 0);
    min-height: 100vh;
    display: flex;
}

.previewslider-container {
    /* transform-origin: center center;
    transform: scale(0.5, 0.5); */
    transition: right 0.3s ease-in-out;
    position: fixed;
    height: 100vh;
    /* min-width: 400px;
    width: 25vw; */
    width: 350px;
    right: 0;
}

@media screen and (max-width:1024px) {
    .previewslider-container {
        width: 300px;
    }
}
@media screen and (max-width:768px) {
    .previewslider-container {
        width: 250px;
    }
}

.hidesidebar {
    right: -350px;
}

.empty {
    flex: 1;
}

.opaque {
    background: rgba(0, 0, 0, 0.5);
}